In [ ]:
# 40ms (35)
def max_team(com_wmen, com_men, in_num):
  in_wmen = N % 2
  max = 0
  while in_wmen <= K:
    wmen_t = (com_wmen-in_wmen)//2
    men_t = com_men-(in_num-in_wmen)
    if wmen_t <= men_t:
      num = wmen_t
    else:
      num = men_t
    if max < num:
      max = num
    in_wmen += 2
  print(max)

if __name__ == '__main__':
  N, M, K = map(int, input().split())
  max_team(N, M, K)

6 3 2
2

In [ ]:
# 그리디 접근 풀이
if __name__ == '__main__':
  N, M, K = map(int, input().split())

  cnt = 0
  # N+M >= K+3: k인원을 빼고도 팀을 생성시킬수있어야하니까
  while N >= 2 and M >= 1 and N+M >= K+3:
    cnt += 1
    N -= 2
    M -= 1
  print(cnt)

6 3 2
2